/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #F7F7F7;
  --light: #E0E0E0;
  --gray: #dcdcdce3;
  --blue: #7DA2A9;
  --dark: #1D2228;
  --black: #0a0a0a;
  --navy: #051622;
  --yellow-1: #FDD935;
  --yellow-2: #E9BD43;
  --yellow-3: #F5B935;
  --orange: #FB8122;
}

body {
  background-color: var(--yellow-3);
}

/* ----------------- Global */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

.text-lg {
  font-size: 6rem;
  margin-top: 80px;
}

h2 {
  font-family: 'reenie-beanie', serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.cover-main {
  text-align: center;
  color: var(--navy);
}

.title-bg {
  font-size: 5rem;
  margin-top: 80px;
}

.cover-p {
  padding: 40px;
  font-size: 24px;
}

.btn-cover {
  font-size: 24px;
  box-shadow: 2px 2px #fff;
}

footer {
  padding: 0;
  height: 5%;
  text-align: center;
}

/* ------------------ Guide */
.tip {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  perspective: 600px;
}

.card {
  margin-top: 50px;
  max-width: 850px;
  width: 100%;
  height: 50vh;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card.border-0.mt-3.mt-md-5 {
  background-color: transparent;
}

.card-body--front {
  background: var(--black);
  box-shadow: 0 8px 52px 0 rgba(35, 35, 35, 0.912);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
}

.card-body--back {
  background: var(--dark);
  transform: rotateY(180deg);
  box-shadow: 0 8px 52px 0 rgba(35, 35, 35, 0.912);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
}

.fas.fa-smile {
  /* color: rgb(43, 43, 43); */
  color: var(--light);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.tip-title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}